<!DOCTYPE html>
<html ng-app="insightsApp">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <meta charset="utf-8" />
    <title>Insights - Cloud BI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN PLUGIN CSS -->
    <link href="assets/plugins/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/plugins/jquery-ricksaw-chart/css/rickshaw.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="assets/plugins/jquery-morris-chart/css/morris.css" type="text/css" media="screen" charset="utf-8">
    <link href="assets/plugins/jquery-slider/css/jquery.sidr.light.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="assets/plugins/jquery-jvectormap/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="assets/plugins/boostrap-checkbox/css/bootstrap-checkbox.css" rel="stylesheet" type="text/css" media="screen"/>
    <!-- END PLUGIN CSS -->
    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link href="assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
    <!-- END CORE CSS FRAMEWORK -->
    <!-- BEGIN CSS TEMPLATE -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/custom-icon-set.css" rel="stylesheet" type="text/css"/>
    <!-- END CSS TEMPLATE -->
  </head>
  <!-- END HEAD -->
  <!-- BEGIN BODY -->
  <body class="">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse " style="background-color:#ffffff !important;">
      <!-- BEGIN TOP NAVIGATION BAR -->
      <div class="navbar-inner">
        <div class="header-seperation-login">
          <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
            <li class="dropdown">
              <a id="main-menu-toggle" href="#main-menu"  class="" >
                <div class="iconset top-menu-toggle-white"></div>
              </a>
            </li>
          </ul>
          <!-- BEGIN LOGO --> 
          <a href="index.html"><img src="assets/img/logo-blue.png" class="logo"  data-src="assets/img/logo-blue.png" data-src-retina="assets/img/logo2x.png" width="106" height="21"/></a>
          <!-- END LOGO -->
        </div>
      </div>
      <!-- END TOP NAVIGATION BAR --> 
    </div>
    </div>
    <!-- END HEADER --> 

<div class="container" ng-controller="LoginCtrl">
  <div class="row login-container ">  
    <div class="col-md-5 login-form"> <br>
		  <form id="login-form" class="login-form" action="index.html" method="post">
		    
        <div class="row">
		      <div class="form-group col-md-10" style="width:100% !important;">
            <label class="form-label">Email</label>
            <div class="controls">
      				<div class="input-with-icon  right">                                       
      					<i class=""></i>
      					<input type="text" ng-model="email" class="form-control">                                 
      				</div>
            </div>
          </div>
        </div>
		    
        <div class="row">
          <div class="form-group col-md-10">
            <label class="form-label">Senha</label>
            <span class="help"></span>
            <div class="controls">
      				<div class="input-with-icon  right">                                       
      					<i class=""></i>
      					<input type="password" ng-model="password" class="form-control">                                 
      				</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 form-btn">
            <button class="btn btn-primary btn-cons pull-right" type="button" ng-click="auth()">Login</button>
          </div>
        </div>

		  </form>
    </div>    
  </div>
</div>


<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="handleResult(false)">×</button>
            <br>
            <h4 id="myModalLabel" class="semi-bold">{{ alert.title }}</h4>
            <br><br>
            <p class="no-margin">{{ alert.msg }}</p>
            <br>
          </div>
          <div class="modal-body" style="display: none">
            <div class="row form-row">
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Your Card Number">
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="CVS">
              </div>
            </div>
            <div class="row form-row">
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Card Holder's Name">
              </div>
            </div>
            <div class="row form-row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Month">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Year">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="alert.prompt" ng-click="handleResult(false)">Close</button>
            <button type="button" class="btn btn-primary" ng-click="handleResult(true)">OK</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- BEGIN CORE JS FRAMEWORK--> 
    <script src="assets/plugins/jquery-1.8.3.min.js" type="text/javascript"></script> 
    <script src="assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script> 
    <script src="assets/plugins/boostrapv3/js/bootstrap.min.js" type="text/javascript"></script> 
    <script ng-src="assets/plugins/breakpoints.js" type="text/javascript"></script> 
    <script ng-src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script> 
    <!-- END CORE JS FRAMEWORK --> 
    <!-- BEGIN ANGULAR FRAMEWORK -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js" type="text/javascript"></script>
    <script src="//code.angularjs.org/1.2.4/angular-route.min.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script> 
    <script src="/js/services.js" type="text/javascript"></script> 
    <script src="/js/controllers.js" type="text/javascript"></script> 
    <script src="/js/directives.js" type="text/javascript"></script> 
    <!-- END ANGULAR FRAMEWORK -->
    <!-- BEGIN PAGE LEVEL JS --> 
    <script ng-src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>  
    <script ng-src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script> 
    <script ng-src="assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script> 
    <script ng-src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>  
    <script ng-src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script> 
    <script ng-src="assets/plugins/jquery-block-ui/jqueryblockui.js" type="text/javascript"></script> 
    <script ng-src="assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>
    <script ng-src="assets/plugins/jquery-ricksaw-chart/js/raphael-min.js"></script> 
    <script ng-src="assets/plugins/jquery-ricksaw-chart/js/d3.v2.js"></script>
    <script ng-src="assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js"></script>
    <script ng-src="assets/plugins/jquery-morris-chart/js/morris.min.js"></script>
    <script ng-src="assets/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js"></script>
    <script ng-src="assets/plugins/jquery-slider/jquery.sidr.min.js" type="text/javascript"></script>  
    <script ng-src="assets/plugins/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>   
    <script ng-src="assets/plugins/jquery-jvectormap/js/jquery-jvectormap-us-lcc-en.js" type="text/javascript"></script>   
    <script ng-src="assets/plugins/jquery-sparkline/jquery-sparkline.js"></script>
    <script ng-src="assets/plugins/jquery-flot/jquery.flot.min.js"></script>
    <script ng-src="assets/plugins/jquery-flot/jquery.flot.animator.min.js"></script>
    <script ng-src="assets/plugins/skycons/skycons.js"></script>
    <!-- END PAGE LEVEL PLUGINS   -->   
    <!-- PAGE JS -->  
    <script ng-src="assets/js/dashboard.js" type="text/javascript"></script>
    <!-- BEGIN CORE TEMPLATE JS --> 
    <script ng-src="assets/js/core.js" type="text/javascript"></script> 
    <script ng-src="assets/js/demo.js" type="text/javascript"></script>
    <!-- END CORE TEMPLATE JS -->
  </body>
</html>