<div class="content-create">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="content-create">
      
      <div class="page-title"> 
        <h3>Nova <span class="semi-bold">Regra</span></h3>
      </div>

        <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Informações da <span class="semi-bold">Regra</span></h4>
                  <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body no-border"> <br>
                  <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <div class="form-group">
                        <label class="form-label">Bundle</label>
                        <div class="controls">
                          <select id="source" style="width:100%">
                            <optgroup label="Lojas Online">
                            <option value="BS">Buscape</option>
                            <option value="SB">Submarino</option>
                            <option value="KB">Kaboom</option>
                            <option value="AM">Americanas</option>
                            </optgroup>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Palavra-Chave</label>
                        <span class="help">ex. "smartphone"</span>
                        <div class="controls">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Horário</label>
                        <div class="controls">
                          <div class="input-append bootstrap-timepicker-component">
                            <input type="text" class="timepicker-default span12">
                            <span class="add-on"><span class="arrow"></span><i class="icon-time"></i></span> 
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Passos</label>
                        <span class="help">Insira um passo e pressione enter</span>
                        <div class="controls">
                          <input class="span12 tagsinput" type="text" ng-model="steps" data-role="tagsinput" itemvalue="value" itemtext="text" data-bootstrap-tagsinput/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <!-- END PAGE -->
    </div>
  </div>