<div class="modal hide" id="portlet-config">
	<div class="modal-header">
		<h3>Widget Settings</h3>
	</div>

	<div class="modal-body">
		Widget settings form goes here
	</div>
</div>

<div class="clearfix"></div>

<div class="page-title">
	<h3 style="width:100.5%">
		Regras de <span class="semi-bold">Monitoramento</span>
		<a href="/rule/create">
			<button type="button" class="btn btn-primary btn-cons" style="float:right;">Nova Regra</button>
		</a>
	</h3>
</div>

<div class="row">

	<div class="col-md-12">
		<div class="grid simple">
			<div class="grid-title no-border">
				<h4>Regras <span class="semi-bold">Ativas</span></h4>

				<div class="tools">
					<a class="reload" href="javascript:;"></a> 
					<a class="config" data-toggle="modal" href="#grid-config"></a> 
				</div>
			</div>

			<div class="grid-body no-border">
				<table class="table no-more-tables">
					<thead>
						<tr>
							<th width="9%">Fonte</th>

							<th width="22%">Parâmetros</th>

							<th width="10%">Próx. Atualização</th>

							<th width="6%"></th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="rule in rules">

							<td valign="middle">{{ rule.source.bundle }}</td>

							<td valign="middle">
								<span class="muted" ng-if="rule.source.q">Palavra chave: "{{ rule.source.q }}"</span>
							</td>

							<td valign="middle">
								<div class="progress">
									<div class=
									"progress-bar progress-bar-success animate-progress-bar"
									data-percentage="79%" id="" style="width: 79%">
									</div>
								</div>
							</td>

							<td>
								<a href="javascript:;">
									<span class="label label-important">Relatórios</span>
								</a>
								<a href="javascript:;">
									<span class="label label-important">Apagar</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>